# deploy at "/etc/systemd/system/*.timer"

[Unit]
Description=runs sanoid every 2 min

[Timer]
OnStartupSec=30sec
OnCalendar=*:0/2
AccuracySec=10sec

[Install]
WantedBy = default.target

