#place in /etc/systemd/user/

[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/home/ro/.nix-profile/bin/emacs --daemon
ExecStop=/home/ro/.nix-profile/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
